@model HCQ2_Model.T_PageElement
@{
    ViewBag.Title = "表结构管理";
}
@section headerSection{
    <link href="~/Resources/mainFrame/css/plugins/treeview/bootstrap-treeview.css" rel="stylesheet">
    <style>
        .float-unit {
            height: 100%;
            border: 1px solid #E7EAEC;
            border-top-width: 0px;
            border-bottom-width: 0px;
            margin-bottom: 0px;
        }

        .left-sm-3 {
            padding-left: 0px;
        }

        .right-sm-9 {
            padding-right: 0px;
        }

        .ibox-unit {
            overflow-y: auto;
            height: 89%;
            padding: 0px;
        }
        #exampleToolbar div{
            margin-bottom:0px;
        }
    </style>
}
<div class="wrapper animated fadeInRight autoHeight">
    <div class="row autoHeight" style="background-color: #fff;">
        <!--选择单位-->
        <div id="tree"></div>
        <!--生成图表-->
        <div class="col-sm-10 right-sm-9" style="padding-left: 5px;">
            <div class="example">
                <div class="btn-group hidden-xs" id="exampleToolbar" role="group">
                        @{
                            List<string> folderList = (List<string>)ViewBag.elementList;
                            if (folderList.Contains("btnSearch"))
                            {
                                <div class="form-group" style="float:left;">
                                    <input id="fieldName" name="fieldName" type="text" class="form-control" placeholder="请输入用户名或登录名">
                                </div>
                                <div class="form-group" style="float:right;">
                                    <button id="btnSearch" class="btn btn-primary" type="button"><i class="fa fa-search"></i>&nbsp;查询</button>
                                </div>
                            }
                        }
                    </div>
                <table id="TableToolbar" data-mobile-responsive="true" data-radio="true"></table>
            </div>
        </div>
    </div>
</div>
@section footSection{
    <script src="~/Resources/mainFrame/js/plugins/treeview/bootstrap-treeview-1.2.0.js"></script>
    <script src="~/Resources/tools/treeview-search-custom.js"></script>
    <script src="~/Resources/mainFrame/js/plugins/bootstrap-table/export/bootstrap-table-export.min.js"></script>
    <script src="~/Resources/mainFrame/js/plugins/bootstrap-table/export/tableExport.js"></script>
    <script src="~/Resources/myScript/SysAdmin/tableManager.js"></script>
    <script>
        $(function () {
            //初始化菜单
            tableManager.initPage();
        });
    </script>
}

